<div class="projects-section-container">
  <h1 class="appear-item">Portfolio</h1>
  <div class="portfolio-grid">
    <ng-container *ngIf="projectCategories.length; else noProjects">
      <article *ngFor="let category of projectCategories">
        <div class="title-area appear-item">
          <h4>{{ category.label }}</h4>
        </div>
        <div class="portfolio-items">
          <ng-container *ngFor="let project of projectsData?.[category.key]">
            <ng-container
              *ngTemplateOutlet="projectTemplate; context: { project: project }"
            >
            </ng-container>
          </ng-container>
        </div>
      </article>
    </ng-container>

    <ng-template #noProjects>
      <p>No projects available to display.</p>
    </ng-template>
  </div>
</div>

<ng-template #projectTemplate let-project="project">
  <div class="portfolio-item appear-item">
    <img [src]="project.previewImages[0]" [alt]="project.name" />
    <div class="overlay">
      <h3>{{ project.name }}</h3>
      <p>
        <a [href]="project.repo" target="_blank">View Repo</a>
        <span *ngIf="project.liveDemo">
          | <a [href]="project.liveDemo" target="_blank">Live Demo</a>
        </span>
      </p>
      <ul class="usedExpertise">
        <li *ngFor="let expertise of project.expertise">
          <img [src]="expertise.logo" alt="{{ expertise.skill }} logo" />
          {{ expertise.skill }}
        </li>
      </ul>
    </div>
  </div>
</ng-template>
