<div class="projects-section-container">
  <h1 class="appear-item">Portfolio</h1>
  <div class="portfolio-grid">
    <ng-container *ngIf="projectCategories.length; else noProjects">
      <article *ngFor="let category of projectCategories">
        <div class="title-area appear-item">
          <h4>{{ category.label }}</h4>
        </div>
        <div class="portfolio-items">
          <ng-container *ngFor="let project of projectsData?.[category.key]">
            <app-card [projectData]="project"></app-card>
          </ng-container>
        </div>
      </article>
    </ng-container>

    <ng-template #noProjects>
      <p>No projects available to display.</p>
    </ng-template>
  </div>
</div>
