@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kode Mono", monospace;
	font-optical-sizing: auto;
	font-style: normal;
}

:root {
	--background-color: #1a1a1a;
	--text-color: #e2e8f0;
	--card-background: #2d2d2d;
	--nav-background: #333;
	--border-color: #404040;
	--button-hover: #404040;
	--active-color: #9f7aea;
	--badge-bg: #6b46c1;
	--shadow-color: rgba(0, 0, 0, 0.3);
	--button-bg: #404040;
}

body {
	background: rgb(36, 41, 51);
	background: radial-gradient(circle, rgb(42, 43, 46) 0%, rgba(27, 27, 27, 1) 100%);
	color: var(--text-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
	gap: 1.2rem;
}

h1,
h2 {
	width: 100%;
	text-align: center;
}

.tab-system {
	background: var(--card-background);
	width: 100%;
	max-width: 1000px;
	border-radius: 1.4rem;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
	min-height: 500px;
	padding: 1rem;
	position: relative;
	overflow: hidden;
}

.tab-nav {
	background: var(--nav-background);
	padding: 1rem 2rem;
	gap: 1rem;
	border-radius: 1.4rem 1.4rem 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 4rem);
	max-width: 1000px;
	z-index: 100;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tab-button {
	flex: 1;
	padding: 1rem 1.2rem;
	border: none;
	background: none;
	text-align: center;
	cursor: pointer;
	border-radius: 0.75rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	color: var(--text-color);
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
	background-color: var(--button-bg);
	min-width: fit-content;
	max-width: max-content;
}

.tab-button:hover {
	background: var(--button-hover);
	transform: translateX(5px);
}

.tab-button.active {
	background-color: #e2e8f0;
	color: var(--active-color);
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.tab-button.active::before {
	content: "";
	position: absolute;
	width: 0.6rem;
	height: 100%;
	background: var(--active-color);
	border-radius: 0.75rem 0 0 0.75rem;
	top: 0;
	left: 0;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.tab-icon {
	width: 24px;
	text-align: center;
}

.tab-content {
	padding: 1rem 3rem;
	transform: translateY(20px);
	position: relative;
	margin-top: 20px;
}

.tab-content .personal-area {
	margin-bottom: 1rem;
}

.tab-content::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background: var(--background-color);
	z-index: -1;
	margin-top: 1rem;
	border-radius: 1.4rem;
}

.projects-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 1.5rem;
	margin-top: 2rem;
}

.project-card {
	width: 100%;
	max-width: 700px;
	background: var(--nav-background);
	border: 1px solid var(--border-color);
	border-radius: 1rem;
	padding: 1.5rem;
	box-shadow: 0 4px 10px var(--shadow-color);
	transition: transform 0.3s ease;
}

.carousel-container {
	width: 100%;
	margin-bottom: 1rem;
}

.project-slider {
	width: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 0.8rem;
	height: 500px;
	position: relative;
}

.slide-image {
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	transition: all 0.5s ease-in-out;
}

.thumbnails {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	margin-top: 0.8rem;
}

.thumbnail {
	cursor: pointer;
	border-radius: 8px;
	overflow: hidden;
	transition: transform 0.3s ease, opacity 0.3s ease;
	flex: 1;
	aspect-ratio: 5/3;
	filter: brightness(0.3);
}

.thumbnail.active {
	filter: brightness(1);
}

.thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project-details {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.project-links {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.8rem;
	width: 100%;
}

.project-links a {
	text-decoration: none;
	color: var(--active-color);
	opacity: 0.7;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.4rem;
	transition: 0.3s ease;
}

.project-links a:hover {
	opacity: 1;
	scale: 1.02;
}

.nav-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(255, 255, 255, 0.1);
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	backdrop-filter: blur(5px);
	transition: all 0.3s ease;
}

.nav-button:hover {
	background: rgba(255, 255, 255, 0.2);
	transform: translateY(-50%) scale(1.1);
}

.prev {
	left: 1rem;
}

.next {
	right: 1rem;
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
	margin-top: 1.2rem;
	list-style: none;
}

.skill-badge {
	padding: 1rem 2rem;
	border: none;
	border-radius: 0.75rem;
	font-weight: 500;
	transition: transform 0.2s, filter 0.2s;
	background: var(--nav-background);
	color: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;
}

.skill-badge img {
	height: 1.5cap;
}

.contact-info {
	margin-top: 2rem;
}

.contact-info p {
	margin: 0.4rem 0;
}

.tab-content h3 {
	margin-bottom: 1rem;
}

.circle {
	content: "";
	position: absolute;
	width: 100px;
	height: 100px;
	background: #f9fafb;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.social-container {
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.social-link {
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	position: relative;
	transition: transform 0.3s ease;
	color: var(--text-color);
	gap: 0.4rem;
}

.social-link i {
	font-size: 1.4rem;
	color: var(--text-color);
	transition: color 0.3s ease;
	background-color: var(--nav-background);
	width: 50px;
	height: 50px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-link:hover {
	transform: translateY(-3px);
	background-color: var(--icon-hover);
}

.social-link.mail:hover i {
	color: #1da1f2;
}
.social-link.instagram:hover i {
	color: #e4405f;
}
.social-link.linkedin:hover i {
	color: #0a66c2;
}
.social-link.github:hover i {
	color: #6e5494;
}

@media (max-width: 480px) {
	body {
		padding: 1rem;
	}

	.tab-system {
		padding: 0.4rem;
	}

	.tab-content {
		padding: 1rem 0;
	}

	.project-card {
		padding: 0.8rem;
	}

	.skills-list {
		gap: 0.4rem;
	}

	.skill-badge {
		width: fit-content;
		padding: 0.6rem;
	}

	.tab-nav {
		display: none;
	}
	.project-slider {
		height: 300px;
	}
}
