.portfolio-item {
  position: relative;
  width: var(--card-width);
  max-width: var(--card-width);
  aspect-ratio: 1;
  border-radius: var(--card-border-radius);
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--shadow-color);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--font-color);
    text-align: center;
    padding: 20px;

    h3 {
      margin: 0;
      font-size: 20px;
    }

    p {
      font-size: var(--text-font-size);
      margin: 10px 0;
      a {
        color: var(--font-color);
        text-decoration: none;
      }
    }

    button {
      background-color: #f4b400;
      color: black;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: var(--text-font-size);

      &:hover {
        background-color: #e0a700;
      }
    }
  }

  &:hover {
    border: 0px;
    box-shadow: 0px 0px 2px var(--shadow-color);
    .overlay {
      opacity: 1;
    }
  }
}

ul.usedExpertise {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  li {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: var(--text-font-size);
    gap: 5px;

    img {
      max-width: 20px;
      aspect-ratio: 1;
      object-fit: cover;
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .portfolio-item {
    .overlay {
      opacity: 1;
      h3 {
        margin: 0;
        font-size: 10px;
      }

      p {
        font-size: calc(var(--text-font-size) - 5px);
        margin: 10px 0;
        a {
          color: var(--font-color);
          text-decoration: none;
        }
      }
    }
  }

  ul.usedExpertise {
    li {
      font-size: calc(var(--text-font-size) - 5px);
      img {
        max-width: 18px;
      }
      span {
        display: none;
      }
    }
  }
}
