<ng-container *ngIf="projectData">
  <div class="portfolio-item appear-item">
    <div class="image-area">
      <img
        [src]="projectData.previewImages[0]"
        [alt]="projectData.name[selectedLanguage]"
      />
    </div>
    <div class="overlay">
      <h3>{{ projectData.name[selectedLanguage] }}</h3>
      <p>
        <a [href]="projectData.repo" target="_blank">{{
          selectedLanguage === "english" ? "View Repo" : "Repoya Git"
        }}</a>
        <span *ngIf="projectData.liveDemo">
          |
          <a [href]="projectData.liveDemo" target="_blank">{{
            selectedLanguage === "english" ? "Live Demo" : "Canlı Örnek"
          }}</a>
        </span>
      </p>
      <ul class="usedExpertise">
        <li *ngFor="let expertise of projectData.expertise">
          <img [src]="expertise.logo" alt="{{ expertise.skill }} logo" />
          <span>{{ expertise.skill }}</span>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
