.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  aspect-ratio: 1;
  cursor: pointer;
  align-content: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  background: transparent;
  color: var(--font-color);
  border: 2px solid var(--shadow-color);
  font-size: var(--title-font-size);
  text-decoration: none;

  &.active {
    opacity: 0.7;
    visibility: visible;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 512px) {
  .scrollTop {
    display: none;
  }
}
