<app-navbar></app-navbar>
<main>
  <section id="banner" class="bannerSection">
    <app-banner [personalInfo]="personalInfo"></app-banner>
  </section>
  <hr />
  <section id="skills">
    <app-skills-section [skills]="skills"></app-skills-section>
  </section>
  <hr />
  <section id="projects" class="projectSection">
    <ng-container *ngIf="projectsData; else noProjects">
      <app-projects-section
        [projectsData]="projectsData"
      ></app-projects-section>
    </ng-container>

    <ng-template #noProjects>
      <p>
        {{
          selectedLanguage === "english"
            ? "No projects available to display."
            : "Gösterilecek proje yok."
        }}
      </p>
    </ng-template>
  </section>
  <app-scroll-top-btn></app-scroll-top-btn>
</main>
<app-custom-cursor></app-custom-cursor>
