.banner {
  max-width: 100%;
  min-height: calc(100dvh - 50px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  color: var(--font-color);
  font-size: var(--text-font-size);
  gap: var(--item-gap);
  opacity: 0;
  animation: drop 0.65s linear forwards;
  padding: var(--section-padding);

  .profileAvatar {
    width: var(--card-width);
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: drop-shadow(10px 10px 40px var(--shadow-color));
      transition: 0.4s ease;

      &:hover {
        filter: drop-shadow(0px 0px 10px var(--shadow-color));
      }
    }
  }

  .context {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .contact-button {
      background: transparent;
      border: 1px solid aliceblue;
      padding: 10px 20px;
      font-size: var(--text-font-size);
      color: var(--font-color);
      max-width: 150px;
      cursor: pointer;
      transition: 0.4s ease;

      &:hover {
        color: black;
        background-color: aliceblue;
        border: 1px dashed black;
      }
    }

    h2 {
      display: flex;
      align-items: center;
      justify-content: start;
      text-align: center;
      background: #a7acd0;
      background: linear-gradient(
        to right,
        #a7acd0 0%,
        #41689b 33%,
        #274869 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 0;
      animation: expand 1s forwards 1s;
      height: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: var(--title-font-size);

      &::after {
        height: 25px;
        width: 2px;

        content: "";
        display: inline-block;
        margin-left: 3px;
        background-color: aliceblue;
        animation-name: blink-dot;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
      }
    }
  }
}

@keyframes drop {
  0% {
    transform: translateY(-100dvh) scaleY(0.9);
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@keyframes blink-dot {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    .profileAvatar {
      img {
        filter: drop-shadow(0px 0px 10px var(--shadow-color));
      }
    }

    .context {
      width: 100%;
    }

    .profileAvatar {
      width: 100%;
      border-radius: 50%;
    }
  }
}
