<div class="banner">
  <div class="profileAvatar">
    <img
      src="https://avatars.githubusercontent.com/u/118301620?v=4"
      alt="Profile Avatar"
    />
  </div>
  <div class="context">
    <h1>Mert Can Caglayan</h1>
    <h2>FrontEnd Developer</h2>
    <p>
      I am currently looking to pursue a career in front-end development. I have
      fundamental skills in HTML, CSS, and JavaScript, and I possess knowledge
      of Typescript, React, Angular and Python.
    </p>

    <button class="contact-button">Contact Me</button>
  </div>
</div>
