<div class="banner" *ngIf="personalInfo">
  <div class="profileAvatar" *ngIf="personalInfo.avatar">
    <img [src]="personalInfo.avatar" alt="Profile Avatar" />
  </div>
  <div class="context">
    <h1>
      {{ personalInfo.about[selectedLanguage].name }}
    </h1>
    <h2 class="description">FrontEnd Developer</h2>
    <p *ngIf="personalInfo.about[selectedLanguage]?.article">
      {{ personalInfo.about[selectedLanguage].article }}
    </p>

    <button class="contact-button">
      {{ selectedLanguage === "english" ? "Contact Me" : "İletişim" }}
    </button>
  </div>
</div>
