.circle {
  display: flex;
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  will-change: transform, left, top;
  z-index: 1001;
  transition: opacity 0.3s ease;
  background-color: rgb(204, 203, 203);
  background-color: var(--shadow-color);

  @media screen and (max-width: 550px) {
    display: none;
  }
}
