app-carousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.popover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  padding: 10px 0;
  gap: var(--item-gap);
  color: var(--font-color);
  font-size: var(--text-font-size);
  max-height: 80%;
  background: var(--background-color);

  .close-popover {
    align-self: self-end;
  }

  .top-area {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--item-gap);
    flex-wrap: wrap;

    .img-area {
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1;
      width: var(--card-width);
      max-width: var(--card-width);
      border-radius: var(--card-border-radius);
      cursor: pointer;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .details-area {
      width: 50%;
      height: 100%;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--item-gap);

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        li {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            width: 30px;
          }

          span {
            color: var(--font-color);
            font-size: calc(var(--text-font-size) - 3px);
          }
        }
      }

      .button-area {
        ul {
          display: flex;
          flex-wrap: wrap;
          gap: var(--item-gap);
          list-style: none;
          li {
            button {
              background: transparent;
              border: 1px solid aliceblue;
              padding: 10px 20px;
              font-size: var(--text-font-size);
              color: var(--font-color);
              max-width: 200px;
              cursor: pointer;
              transition: 0.4s ease;

              &:hover {
                color: black;
                background-color: aliceblue;
                border: 1px dashed black;
              }
            }
          }
        }
      }
    }
  }

  .preview-area {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.932);

    .close-preview {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
}

.close-btn {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9999;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    color: var(--font-color);
    transform: scale(1.2);
  }

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .popover {
    .top-area {
      .details-area {
        justify-content: start;
      }
    }

    .preview-area {
      .slider-area {
        .preview-item {
          width: calc(var(--card-width) - 100px);
          min-width: calc(var(--card-width) - 100px);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .popover {
    .top-area {
      .details-area {
        gap: calc(var(--item-gap) - 10px);

        .skills-area {
          ul {
            font-size: calc(var(--text-font-size) - 5px);
            li {
              img {
                width: 20px;
              }
            }
          }
        }

        .button-area {
          ul {
            gap: calc(var(--item-gap) - 10px);
            li {
              button {
                padding: 5px 10px;
                font-size: calc(var(--text-font-size));
                color: var(--font-color);
                max-width: 100px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .popover {
    max-height: 95%;
    overflow: scroll;
  }

  .popover {
    .top-area {
      .details-area {
        width: 90%;
      }
    }
  }
}
