<article class="popover" *ngIf="projectData">
  <span class="close-popover close-btn" (click)="handleClose()">&times;</span>
  <div class="top-area">
    <div class="img-area">
      <img
        [src]="projectData.previewImages[0]"
        [alt]="projectData.name[selectedLanguage]"
      />
    </div>
    <div class="details-area">
      <div class="title-area">
        <h4>{{ projectData.name[selectedLanguage] }}</h4>
      </div>
      <div class="text-area">
        <p>
          {{ projectData.projectDetails[selectedLanguage] }}
        </p>
      </div>
      <div class="skills-area">
        <ul>
          <li *ngFor="let expertise of projectData.expertise">
            <img [src]="expertise.logo" alt="{{ expertise.skill }} logo" />
            <span>{{ expertise.skill }}</span>
          </li>
        </ul>
      </div>
      <div class="button-area">
        <ul>
          <li *ngIf="projectData.repo">
            <a [href]="projectData.repo" target="_blank"
              ><button>
                {{
                  selectedLanguage === "english" ? "View Repo" : "Repoya Git"
                }}
              </button></a
            >
          </li>

          <li *ngIf="projectData.liveDemo">
            <a [href]="projectData.liveDemo" target="_blank">
              <button>
                {{
                  selectedLanguage === "english" ? "Live Demo" : "Canlı Örnek"
                }}
              </button>
            </a>
          </li>

          <li>
            <button (click)="showImages()">
              {{
                selectedLanguage === "english"
                  ? "Preview Images"
                  : "Önizleme Resimleri"
              }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="isModalVisible" class="preview-area">
    <span class="close-preview close-btn" (click)="showImages()">&times;</span>
    <app-carousel [projectData]="projectData"></app-carousel>
  </div>
</article>
