<article class="popover" *ngIf="projectData">
  <span class="close-popover close-btn" (click)="handleClose()">&times;</span>
  <div class="top-area">
    <div class="img-area">
      <img [src]="projectData.previewImages[0]" [alt]="projectData.name" />
    </div>
    <div class="details-area">
      <div class="title-area">
        <h4>{{ projectData.name }}</h4>
      </div>
      <div class="text-area">
        <p>
          {{ projectData.projectDetails.english }}
        </p>
      </div>
      <div class="skills-area">
        <ul>
          <li *ngFor="let expertise of projectData.expertise">
            <img [src]="expertise.logo" alt="{{ expertise.skill }} logo" />
            <span>{{ expertise.skill }}</span>
          </li>
        </ul>
      </div>
      <div class="button-area">
        <ul>
          <li *ngIf="projectData.repo">
            <a [href]="projectData.repo" target="_blank"
              ><button>View Repo</button></a
            >
          </li>

          <li *ngIf="projectData.liveDemo">
            <a [href]="projectData.liveDemo" target="_blank"
              ><button>Live Demo</button></a
            >
          </li>

          <li>
            <button (click)="showImages()">Preview Images</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="isModalVisible" class="preview-area">
    <span class="close-preview close-btn" (click)="showImages()">&times;</span>
    <div class="slider-area snaps-inline">
      <div class="preview-item">
        <img
          src="https://github.com/user-attachments/assets/5bc68eac-74d0-4ad0-b31d-6e9661b5f1d6"
          alt=""
        />
      </div>
      <div class="preview-item">
        <img
          src="https://github.com/user-attachments/assets/5bc68eac-74d0-4ad0-b31d-6e9661b5f1d6"
          alt=""
        />
      </div>
      <div class="preview-item">
        <img
          src="https://github.com/user-attachments/assets/5bc68eac-74d0-4ad0-b31d-6e9661b5f1d6"
          alt=""
        />
      </div>
      <div class="preview-item">
        <img
          src="https://github.com/user-attachments/assets/6f6453f6-d742-430a-8e98-b330a029e7ec"
          alt=""
        />
      </div>
      <div class="preview-item">
        <img
          src="https://github.com/user-attachments/assets/28fc7f97-2a62-4d23-bfd5-90e8cb1ce7b6"
          alt=""
        />
      </div>
      <div class="preview-item">
        <img
          src="https://github.com/user-attachments/assets/d9ff1dec-cdfa-405d-83aa-1c1bfc844366"
          alt=""
        />
      </div>
      <div class="preview-item">
        <img
          src="https://github.com/user-attachments/assets/5bc68eac-74d0-4ad0-b31d-6e9661b5f1d6"
          alt=""
        />
      </div>
      <div class="preview-item">
        <img
          src="https://github.com/user-attachments/assets/5bc68eac-74d0-4ad0-b31d-6e9661b5f1d6"
          alt=""
        />
      </div>
    </div>
  </div>
</article>
