nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid #fff;
  color: var(--font-color);
  cursor: none;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--background-color);
  padding: 0;

  .navMenu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;

    .navSection {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 1.5rem 2rem;
      gap: 1rem;
      border-right: 1px solid #fff;
      font-weight: 700;
      font-size: 1.2rem;

      &:last-child {
        border-right: none;
      }

      &#navCategory {
        flex-grow: 0.75;
      }

      &#navName {
        justify-content: center;
      }

      &#navSocials {
        justify-content: space-around;
        font-size: 1.5rem;
        flex-grow: 0.3;

        a {
          span {
            svg {
              width: 20px;
              fill: #fff;
            }
          }
        }
      }

      &#langs {
        flex-grow: 0.1;
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--font-color);
    cursor: none;
  }
}

#circle {
  display: none;
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
  mix-blend-mode: difference;
  box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 1);
  will-change: transform, left, top;
  z-index: 1001;

  @media screen and (max-width: 550px) {
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 2.5px 1.5px rgba(255, 255, 255, 1);
  }
}

.hamburgerMenu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  color: var(--font-color);
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;

    .hamburgerMenu {
      display: block;
    }
    .navMenu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: var(--background-color);
      z-index: 1000;
      border-top: 1px solid white;

      &.open {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .navSection {
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;

        &#navCategory {
          width: 100%;
        }
      }
    }
  }
}
